##############################
# Spring Boot Database Config (example)
##############################

# URL PostgreSQL baze
spring.datasource.url=jdbc:postgresql://<HOST>:<PORT>/<DATABASE_NAME>

# Korisničko ime i lozinka (zamijeniti stvarnim podacima)
spring.datasource.username=<DB_USERNAME>
spring.datasource.password=<DB_PASSWORD>

# PostgreSQL driver
spring.datasource.driver-class-name=org.postgresql.Driver

# Automatsko kreiranje / update sheme baze
spring.jpa.hibernate.ddl-auto=update

# Prikaz SQL upita u terminalu
spring.jpa.show-sql=true

# Hibernate dialect za PostgreSQL
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

##############################
# Server Config
##############################
server.port=8080

##############################
# Logging Config
##############################

# Logiranje svih HTTP requestova (GET/POST/PUT/DELETE)
logging.level.org.springframework.web=DEBUG

# Logiranje Hibernate SQL upita (opcionalno, detaljno)
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
