# ===== Logging =====
LOGGING_LEVEL_SPRING_WEB=DEBUG
LOGGING_LEVEL_HIBERNATE_SQL=DEBUG
LOGGING_LEVEL_HIBERNATE_BINDER=TRACE

# ===== Datasource =====
SPRING_DATASOURCE_URL=jdbc:postgresql://<HOST>:<PORT>/<DB_NAME>
SPRING_DATASOURCE_USERNAME=<USERNAME>
SPRING_DATASOURCE_PASSWORD=<PASSWORD>
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# ===== JPA / Hibernate =====
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# ===== Flyway =====
SPRING_FLYWAY_ENABLED=true

# ===== Server =====
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080
